html {
    background-color: black;
    color: green;
}
.container {
    margin: auto;
}
a {
    color: green;
    text-decoration: none;
}
a:hover {
    border-style: solid;
    border-color: green;
}