html {
    background-color: white;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.container {
    background-color: aliceblue;
    width: 1100px;
    min-height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 8px 8px 16px #412782;
}
#homes, #people {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 23px;
    color: #0aa7c0;
}
#people {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 23px;
    color: #412782;
}
#notes {
    border-right-color: #0aa7c0;
    border-radius: 16px;
    border-right-style: dotted;
    border-left-color: #0aa7c0;
    border-left-style: dotted;
    border-width: 1px;
}

#homename, #relativename {
    background-color: azure;
    height: 80px;
    font-family: 'Bebas Neue', cursive;
    color: #412782;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: cadetblue 0px 5px 4px;

    border-bottom-color: #0aa7c0;
    border-radius: 16px;
    border-bottom-style: solid;
    border-width: 1px;
}
form {
    height: 80px;
}
button, input {
    font-family: 'M PLUS 1 Code', sans-serif;
    border-style: none;
    box-shadow: 2px 4px 6px rgba(.8, 0, 0, .2);
    font-size: 18px;
    border-radius: 6px;
}
#input1 {
    background-color: #0aa7c0;
    color: white;
    padding-left: 6px;
}
#button1 {
    background-color: white;
    color: #0aa7c0;
    float: right;
    padding-right: 6px;
}
#input2 {
    background-color: #412782;
    color: white;
    padding-left: 6px;
}
#button2 {
    background-color: white;
    color: #412782;
    float: right;
    padding-right: 6px;
}
.foreach {
    height: 420px;
    padding-left: 30px;
    overflow-y: auto;
}
.message {
    color: cadetblue;
    font-size: 18px;
    padding-left: 10px;
}
.foreach::-webkit-scrollbar {
    width: 12px;
}
.foreach::-webkit-scrollbar-track {
    border-radius: 120px;
}
.foreach::-webkit-scrollbar-button {
    border-radius: 12px;
}

#button1:hover, #input1:hover, #input1:active {
    box-shadow: 0px 0px 6px #412782;
}
#button2:hover, #input2:hover, #input2:active {
    box-shadow: 0px 0px 6px #0aa7c0;
}
#button1:focus {
    background-color: #412782;
}
#button2:focus {
    background-color: #0aa7c0;
}
a:link {
    text-decoration: none;
    color: #0aa7c0;
}
a:hover {
    font-size: 25px;
}
a:visited {
    color: #0aa7c0;
}

#link-back {
    color: #0aa7c0;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: -14.8px;
}
#link-customize {
    color: #412782;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: -14.8px;
}
#link-back:hover {
    text-shadow: 0px 0px 16px #412782;
}
#link-customize:hover {
    text-shadow: 0px 0px 16px #0aa7c0;
}