<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD ROOM</title>
</head>
<body>


<div>


    <form th:action="@{/person/{homename}/addroom(homename=${onehome.getHomename()})}" th:object="${room}" method="post">
        <input type="text" th:field="*{roomname}" placeholder="Roomname">
        <button type="submit" class="btn btn-primary btn-block">Add room</button>
        <span th:utext="${successMessage}"></span>
        <!--<span th:utext="${successMessage}"></span>-->
        <a th:href="@{/person/{homename}/addroom}">LINK</a>
        <a th:href="@{/person/{homename}(homename=${onehome.getHomename()})}">BACK</a>

        <!-- <a th:href="@{/person/{homename}/addroom(homename=${onehome.getHomename()})}">LINK</a> -->
        <!-- <form th:action="@{/person/{homename}/addroom(homename=${onehome.getHomename()})}" th:object="${room}" method="post">-->

    </form>
</div>

</body>
</html>